.formLabel {
    color: #003168;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    text-align: right;
    width: 45px;
}

.requiredFormLabel, .requiredFormLabelError {
    color: #003168;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    text-align: right;
    width: 45px;
    font-weight: bold;
}

.staticFormTitle {
    font-weight: 700;
    color: #003168;
    font-family: Arial,Verdana,sans-serif;
    font-size: 11px;
}

.staticFormItemTitle {
    font-weight: 700;
    color: #003168;
    font-family: Arial, Verdana, sans-serif;
    font-size: 11px;
    vertical-align: top;
}

.groupLabel {
    background-clip: border-box;
    background-color: #F3F3F6;
    color: #003168;
    font-size: 14px;
    font-weight: bolder;
}

.subsectionTitle {
    font-size: 16px;
    color: #008BD0; /* Blue */
    margin-left: 15px;
    padding-left: 15px;
}

.titleLabel {
    font-size: 16px;
    color: #008BD0; /* Blue */
    margin-left: 15px;
    padding-left: 15px;
    font-weight: bold;
}